.border-color1 {
    border-color: #9b6;
}

.border-color2 {
    border-color: #69b;
}

.color1 {
    background-color: #8a5;
    color: #eeffee;
}

.color2 {
    background-color: #58a;
    color: #eeeeff;
}